@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger">Oh no, something bad happened! - Exception error.</h1>

<br />
<br />

<img src="~/images/Errors/Error_Exception02.jpg" alt="Error_Exception" class="img-responsive" />



