@*@model ItemViewModel*@

<!-- Page Content -->
<div class="container">
    <div class="">
        <div class="row">
            <h1 class="my-4 text-center">Products</h1>

            @if (Model != null)
            {
                @foreach (var item in Model.Products)
                {
                    <div class="col-lg-4 col-md-6 mb-4">
                        <div class="card h-100">
                            <a asp-action="Detail" asp-route-ID="@item.ID"> <img class="card-img-top img-responsive" src="http://placehold.it/700x400" alt=""></a>
                            <div class="card-body">
                                <h4 class="card-title">
                                    <a href="#"> @item.Name </a>
                                </h4>
                                <strong> @item.Price,- CZK </strong>
                                <p class="card-text"> @item.Content </p>
                            </div>

                            <div class="card-footer">
                                <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
                            </div>
                        </div>
                    </div>

                }
            }
        </div>

    </div>

</div>
<!-- /.container -->